pandas
numpy
scikit-learn
nltk
sentence-transformers
pyyaml
ipykernel
matplotlib
seaborn
joblib
pymongo
pyarrow
fastapi
uvicorn
python-multipart
pydantic
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
pytest